.nav-item{
    Color: Black;
    color: white;
    border-right: 1px solid black;
    margin-bottom: 15px;
    margin-top: 15px;
   
}
.nav-item5{
    padding-top: 15px;
}
.nav-item1{
    display: flex;
    color: black;
    border-top: 2px solid;
}
hr.half-width{
    width: 90%;
    margin: 0 auto;
    border: 2px solid black;
}


#btn1{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-right: 40px;
    margin-bottom: 40px;
}

a:link{
    color: black;
}
.nav-link{
    color: black;
}
.nav-link:hover{
    color:lightgray;
}
.img-responsive{
    padding-left: 40px;
    max-width: 100%;
    height: auto;
}
p{
    Padding:15px;
}
.container{
    height: 90%;
    width: 90vh;
}


ul {
    list-style-type: none;
    
  }